<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세</title>
</head>
<body>
<h2>게시물 상세</h2>
<div>
  <h3 th:text="${board.title}"></h3>
  <p th:text="${board.content}"></p>
  <p>작성자: <span th:text="${board.writer}"></span></p>
  <p>조회수: <span th:text="${board.viewCnt}"></span></p>
</div>
<div>
  <a th:href="@{/boards}" class="button">목록으로</a>
  <a th:href="@{/boards/{id}/edit(id=${board.uid})}" class="button">수정</a>
  <form th:action="@{/boards/{id}/delete(id=${board.uid})}" method="post">
    <button type="submit">삭제</button>
  </form>
</div>
</body>
</html>
