<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 수정</title>
</head>
<body>
<h2>게시물 수정</h2>
<form action="#" th:action="@{/boards/{id}(id=${board.uid})}" th:object="${board}" method="post">
  <div>
    <label for="title">제목:</label>
    <input type="text" id="title" th:field="*{title}">
  </div>
  <div>
    <label for="content">내용:</label>
    <textarea id="content" th:field="*{content}"></textarea>
  </div>
  <div>
    <button type="submit">수정</button>
  </div>
</form>
</body>
</html>
